@import "config";
@import "menu";
body {
    background-color: $primary-color;
    color: set-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    @include background();
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($color: $primary-color, $amount: 2), $alpha: 0.5) ;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    .icons {
        
        margin-top: 1rem;
        a {
            color: set-color($primary-color);
            padding: 0.4rem;
            &:hover, &:focus{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}
/* about page */
/* with modifications */
.about-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'img bio bio';
    grid-gap: 30px;
}
.bio-img {
    grid-area: img;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    
}

.bio{
    grid-area: bio;
    font-size: 1.5rem;
}
/* .job-1{
    grid-area: edu1;
}
.job-2{
    grid-area: edu2;
}
.job-3{
    grid-area: edu3;
}
.job{
    background-color: lighten($primary-color, 3);
    border-bottom: 3px $secondary-color solid;
    padding: 1rem;
} */
main{
    &#aboutme{
        height: 100vh;
    }
}
.parallax{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background-color: #fff;
    width: 100%;
    .pimg1, .pimg2, .pimg3{
        position: relative;
        opacity: 0.80;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* fixed->parallax, scoll -> normal */
    }
    .pimg1{
        background-image: url('../img/ts.jpg');
        min-height: 800px;
    }
    .pimg2{
        background-image: url('../img/tj.jpg');
        min-height: 800px;
    }
    .pimg3{
        background-image: url('../img/fl.jpg');
        min-height: 800px;
    }
    .section{
        text-align: center;
        padding: 50px 80px;
        &-light{
            background-color: #f4f4f4;
            color: #666;
        }
        &-dark{
            background-color: #282e34;
            color: #ddd;
        }
    }
    .ptext{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
        .border{
            background-color: #111;
            color: #fff;
            padding: 20px;
            line-height: 2;
        }
    }
    
}
/* work page */

#main-footer{
    text-align: center;
    height: 60px;
    background-color: darken($primary-color, 5);
    font-size: 1.5rem;
    padding-top: 20px;
    
}
.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.7rem;
    img{
        width: 100%; //images are of the same size, 100% makes them to take up their container to shrink down the size
        border: 3px solid #fff;
        @include easeOut();
        &:hover {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            border: 5px solid $secondary-color;
            opacity: 0.5;
        }
    } 
}
//button styles
/* using extend in scss, .btn does not exist but we can extent it */
.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background-color: $secondary-color;
        color: set-color($secondary-color);
    }

}
.btn-light{
    @extend .btn;
    background-color: lighten($primary-color, 50);
    color: #333;
}

.btn-dark{
    @extend .btn;
    background-color: darken($primary-color, 50);
    color: #fff;
}
/* contact page */
.contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    .contact{
        padding: 1rem 2rem;
        border: 2px solid set-color($primary-color);
        font-size: 1.5rem;
        color: set-color($primary-color);
        margin-top: 2rem;
        @include easeOut();
        &:hover {
            padding:0.5rem 1rem ;
            border: solid 5px set-color($secondary-color);
            background-color: $secondary-color;
            color: set-color($secondary-color);
            span{
                color: set-color($secondary-color);
            }
        }
    }
}

@import "mobile";
